# 공격성 규범 점수

## 평가내역에 따른 공격성 규범 산출

In [1]:
import sys
print(sys.executable)   # 예: C:\ProgramData\anaconda3\python.exe
print(sys.path)         # 패키지 탐색 경로(여기에 site-packages가 있어야 import 가능)

c:\ProgramData\anaconda3\python.exe
['c:\\ProgramData\\anaconda3\\python313.zip', 'c:\\ProgramData\\anaconda3\\DLLs', 'c:\\ProgramData\\anaconda3\\Lib', 'c:\\ProgramData\\anaconda3', '', 'C:\\Users\\USER\\AppData\\Roaming\\Python\\Python313\\site-packages', 'c:\\ProgramData\\anaconda3\\Lib\\site-packages', 'c:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32', 'c:\\ProgramData\\anaconda3\\Lib\\site-packages\\win32\\lib', 'c:\\ProgramData\\anaconda3\\Lib\\site-packages\\Pythonwin']

In [61]:
import awswrangler as wr
df = wr.athena.read_sql_query(
    """
    select a.school_code, a.school_name, b.school_grade, b.school_num, b.class_name, c.psy_name, c.psy_code, c.close_yn, f.student_num, d.target_code, e.user_testing_no, e.question_no, e.student_code 
    from school_info a
    inner join school_class b on a.school_code = b.school_code
    inner join psy_class c on b.class_code = c.class_code
    inner join psy_target d on c.class_code = d.class_code and c.psy_code = d.psy_code
    inner join at_user_testing_paper_pn e on d.user_testing_no = e.user_testing_no
    inner join school_student f on d.target_code = f.student_code and d.class_code = f.class_code
    where c.close_yn = 'Y' and e.question_no in ('4','5','6','7','14')
    """
    , database="schoolfriends"
)

In [62]:
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
0,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",4,AC000120256042D2E003
1,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",5,AC000120256042D2E003
2,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E003
3,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E009
4,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5067,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,6,""""""
5068,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,7,""""""
5069,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567012
5070,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567021
5071,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567022

In [63]:
df.columns

Index(['school_code', 'school_name', 'school_grade', 'school_num',
       'class_name', 'psy_name', 'psy_code', 'close_yn', 'student_num',
       'target_code', 'user_testing_no', 'question_no', 'student_code'],
      dtype='object')

In [64]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    import pandas as pd
    if df['psy_code'].nunique() > 1 :
        raise ValueError('psy_code 컬럼에 여러 값이 존재합니다.')
    else :
        temp_df = df[df['question_no'].isin(item_no)] # 해당 문항 필터링
        count_list = []
        for student in student_list :
            if len(temp_df[temp_df['student_code']==student]) >= 1 :
                freq = len(temp_df[temp_df['student_code']==student])
            elif len(temp_df[temp_df['student_code']==student]) == 0 :
                freq = 0
            count_list.append(freq)
        count_point_df = pd.DataFrame({'student_code': student_list, 'num_point': count_list})
        return count_point_df, df['psy_code'].iloc[0]

# 학생 리스트 구하는 함수
def student_list(df) :
    student_list = df['target_code'].unique().tolist()
    return student_list, df['psy_code'].iloc[0]

In [65]:
df = df[df['psy_name'].str.contains('이아린비활')]
print(df)

    school_code school_name school_grade school_num class_name  \
745      AC0001      학지초등학교          "5"        "1"    "5학년1반"
746      AC0001      학지초등학교          "5"        "1"    "5학년1반"
747      AC0001      학지초등학교          "5"        "1"    "5학년1반"
748      AC0001      학지초등학교          "5"        "1"    "5학년1반"
749      AC0001      학지초등학교          "5"        "1"    "5학년1반"
..          ...         ...          ...        ...        ...
935      AC0001      학지초등학교          "5"        "1"    "5학년1반"
936      AC0001      학지초등학교          "5"        "1"    "5학년1반"
937      AC0001      학지초등학교          "5"        "1"    "5학년1반"
938      AC0001      학지초등학교          "5"        "1"    "5학년1반"
939      AC0001      학지초등학교          "5"        "1"    "5학년1반"

               psy_name       psy_code close_yn student_num  \
745  "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
746  "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
747  "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
748  "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
749  "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
..                  ...            ...      ...         ...
935  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
936  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
937  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
938  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
939  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"

              target_code         user_testing_no question_no  \
745  AC000120255019FA1022    a3f5848a0dc147df85c3           4
746  AC000120255019FA1022    a3f5848a0dc147df85c3           5
747  AC000120255019FA1022    a3f5848a0dc147df85c3           5
748  AC000120255019FA1022    a3f5848a0dc147df85c3           6
749  AC000120255019FA1022    a3f5848a0dc147df85c3           7
..                    ...                     ...         ...
935  AC000120255019FA1001  "3844c42079ae46c9899a"           7
936  AC000120255019FA1001  "3844c42079ae46c9899a"           7
937  AC000120255019FA1001  "3844c42079ae46c9899a"          14
938  AC000120255019FA1001  "3844c42079ae46c9899a"          14
939  AC000120255019FA1001  "3844c42079ae46c9899a"          14

             student_code
745  AC000120255019FA1005
746  AC000120255019FA1009
747  AC000120255019FA1018
748  AC000120255019FA1001
749  AC000120255019FA1001
..                    ...
935  AC000120255019FA1008
936  AC000120255019FA1013
937  AC000120255019FA1011
938  AC000120255019FA1012
939  AC000120255019FA1020

[195 rows x 13 columns]

In [66]:
student_list_obj, psy_code = student_list(df)
print(student_list_obj, psy_code)
print(len(student_list_obj))

['AC000120255019FA1022', 'AC000120255019FA1021', 'AC000120255019FA1020', 'AC000120255019FA1019', 'AC000120255019FA1018', 'AC000120255019FA1017', 'AC000120255019FA1016', 'AC000120255019FA1014', 'AC000120255019FA1013', 'AC000120255019FA1012', 'AC000120255019FA1011', 'AC000120255019FA1010', 'AC000120255019FA1009', 'AC000120255019FA1008', 'AC000120255019FA1007', 'AC000120255019FA1006', 'AC000120255019FA1005', 'AC000120255019FA1004', 'AC000120255019FA1003', 'AC000120255019FA1002', 'AC000120255019FA1001'] P202507183B0A
21

In [67]:
aggression_point_df, psy_code = count_point(df, student_list_obj, ['4','5','6','7'])
n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])
print(aggression_point_df, psy_code)
print(n14_point_df, psy_code)

            student_code  num_point
0   AC000120255019FA1022          4
1   AC000120255019FA1021          8
2   AC000120255019FA1020          4
3   AC000120255019FA1019          8
4   AC000120255019FA1018          9
5   AC000120255019FA1017          9
6   AC000120255019FA1016          2
7   AC000120255019FA1014          8
8   AC000120255019FA1013          4
9   AC000120255019FA1012          9
10  AC000120255019FA1011          7
11  AC000120255019FA1010          3
12  AC000120255019FA1009          3
13  AC000120255019FA1008          7
14  AC000120255019FA1007          5
15  AC000120255019FA1006         10
16  AC000120255019FA1005          9
17  AC000120255019FA1004          1
18  AC000120255019FA1003          7
19  AC000120255019FA1002          3
20  AC000120255019FA1001         11 P202507183B0A
            student_code  num_point
0   AC000120255019FA1022          1
1   AC000120255019FA1021          1
2   AC000120255019FA1020          1
3   AC000120255019FA1019          0
4   AC000120255019FA1018          1
5   AC000120255019FA1017          3
6   AC000120255019FA1016          2
7   AC000120255019FA1014          3
8   AC000120255019FA1013          0
9   AC000120255019FA1012          3
10  AC000120255019FA1011          4
11  AC000120255019FA1010          2
12  AC000120255019FA1009          1
13  AC000120255019FA1008          3
14  AC000120255019FA1007          1
15  AC000120255019FA1006          0
16  AC000120255019FA1005          2
17  AC000120255019FA1004          2
18  AC000120255019FA1003          2
19  AC000120255019FA1002          2
20  AC000120255019FA1001          3 P202507183B0A

In [68]:
def aggression_norms(df, celling_parameter=67) :
    import pandas as pd
    student_list_obj, psy_code = student_list(df)
    aggression_point_df, psy_code = count_point(df, student_list_obj, ['4','5','6','7'])
    n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])

    aggression_norms_df = pd.merge(aggression_point_df, n14_point_df, on='student_code', suffixes=('_agg', '_14no'))
    aggression_norms_df['agg*14no_num_point'] = aggression_norms_df['num_point_agg'] * aggression_norms_df['num_point_14no']
    aggression_norms_df.sort_values(by='agg*14no_num_point', ascending=False, inplace=True)
    
    top5_aggression_norms_df = aggression_norms_df.head(5)
    top5_mean = top5_aggression_norms_df['agg*14no_num_point'].mean()
    total_mean = aggression_norms_df['agg*14no_num_point'].mean()
    weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
    weighted_mean = 4 * ((min(max(weighted_mean, 0), celling_parameter)-0)/celling_parameter)+1
    result_df = pd.DataFrame({'psy_code': [psy_code], 'top5_mean': [top5_mean], 'total_mean': [total_mean], 'weighted_mean': [weighted_mean]})
    result_df['reg_date'] = pd.Timestamp.now()
    result_df['purpose'] = f'"purpose=calibration;celling_parameter={celling_parameter};author=Yumin"'
    return result_df

In [69]:
result_df = aggression_norms(df)
print(result_df)

        psy_code  top5_mean  total_mean  weighted_mean  \
0  P202507183B0A       27.8   11.571429        2.07838

                    reg_date  \
0 2025-09-08 13:25:11.230451

                                             purpose
0  "purpose=calibration;celling_parameter=67;auth...

# raw 쿼리 결과 -> 그룹별 채점 결과 변환

In [5]:
import awswrangler as wr
df = wr.athena.read_sql_query(
    """
    select a.school_code, a.school_name, b.school_grade, b.school_num, b.class_name, c.psy_name, c.psy_code, c.close_yn, f.student_num, d.target_code, e.user_testing_no, e.question_no, e.student_code 
    from school_info a
    inner join school_class b on a.school_code = b.school_code
    inner join psy_class c on b.class_code = c.class_code
    inner join psy_target d on c.class_code = d.class_code and c.psy_code = d.psy_code
    inner join at_user_testing_paper_pn e on d.user_testing_no = e.user_testing_no
    inner join school_student f on d.target_code = f.student_code and d.class_code = f.class_code
    where c.close_yn = 'Y' and e.question_no in ('4','5','6','7','14')
    """
    , database="schoolfriends")

In [6]:
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
0,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",4,AC000120256042D2E003
1,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",5,AC000120256042D2E003
2,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E003
3,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E009
4,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",6,AC000120256042D2E012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5067,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,6,""""""
5068,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,7,""""""
5069,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567012
5070,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567021
5071,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567022

In [13]:
import pandas as pd

psy_code_grouped = df.groupby('psy_code')
result_df = pd.DataFrame()
for psy_code, group in psy_code_grouped :
    result_df = pd.concat([result_df, aggression_norms(group)])

In [11]:
result_df

,psy_code,top5_mean,total_mean,weighted_mean,reg_date,purpose
0,P202507183B0A,10.4,4.238095,1.400171,2025-09-09 15:54:02.710764,"""purpose=calibration;celling_parameter=67;auth..."

In [18]:
# 언제 등록하고 목적이 무엇인지 같이 기록
result_df['reg_date'] = pd.Timestamp.now()
result_df['purpose'] = '"purpose=calibration;celling_parameter=67;author=Yumin"'

In [19]:
# 결과를 S3에 저장
wr.s3.to_csv(result_df, f's3://schoolfriends-bym/result/aggression_norms/aggression_norms_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

{'paths': ['s3://schoolfriends-bym/result/aggression_norms/aggression_norms_20250908_094510.csv'],
 'partitions_values': {}}

In [17]:
# s3_folder_macro 소스에서 크롤러 생성해서 테이블화

## celling_parameter range로 조정하여 탐색

In [35]:
def search_celling_aggression_norms(df, celling_parameter) :
    import pandas as pd
    student_list_obj, psy_code = student_list(df)
    aggression_point_df, psy_code = count_point(df, student_list_obj, ['4','5','6','7'])
    n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])

    aggression_norms_df = pd.merge(aggression_point_df, n14_point_df, on='student_code', suffixes=('_agg', '_14no'))
    aggression_norms_df['agg*14no_num_point'] = aggression_norms_df['num_point_agg'] * aggression_norms_df['num_point_14no']
    aggression_norms_df.sort_values(by='agg*14no_num_point', ascending=False, inplace=True)
    
    top5_aggression_norms_df = aggression_norms_df.head(5)
    top5_mean = top5_aggression_norms_df['agg*14no_num_point'].mean()
    total_mean = aggression_norms_df['agg*14no_num_point'].mean()
    weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
    weighted_mean = 4 * ((min(max(weighted_mean, 0), celling_parameter)-0)/celling_parameter)+1
    result_df = pd.DataFrame({'psy_code': [psy_code], 'top5_mean': [top5_mean], 'total_mean': [total_mean], 'weighted_mean': [weighted_mean]})
    result_df['reg_date'] = pd.Timestamp.now()
    result_df['purpose'] = f'"purpose=calibration;celling_parameter={celling_parameter};author=Yumin"'
    return result_df

In [76]:
import awswrangler as wr
df = wr.athena.read_sql_query(
    """
    select a.school_code, a.school_name, b.school_grade, b.school_num, b.class_name, c.psy_name, c.psy_code, c.close_yn, f.student_num, d.target_code, e.user_testing_no, e.question_no, e.student_code 
    from school_info a
    inner join school_class b on a.school_code = b.school_code
    inner join psy_class c on b.class_code = c.class_code
    inner join psy_target d on c.class_code = d.class_code and c.psy_code = d.psy_code
    inner join at_user_testing_paper_pn e on d.user_testing_no = e.user_testing_no
    inner join school_student f on d.target_code = f.student_code and d.class_code = f.class_code
    where c.close_yn = 'Y' and e.question_no in ('4','5','6','7','14')
    """
    , database="schoolfriends")

In [37]:
import pandas as pd

psy_code_grouped = df.groupby('psy_code')
result_df = pd.DataFrame()
for parameter in range(30, 68) :
    print(f'celling_parameter: {parameter}')
    for psy_code, group in psy_code_grouped :
        result_df = pd.concat([result_df, search_celling_aggression_norms(group, celling_parameter=parameter)])

celling_parameter: 30
celling_parameter: 31
celling_parameter: 32
celling_parameter: 33
celling_parameter: 34
celling_parameter: 35
celling_parameter: 36
celling_parameter: 37
celling_parameter: 38
celling_parameter: 39
celling_parameter: 40
celling_parameter: 41
celling_parameter: 42
celling_parameter: 43
celling_parameter: 44
celling_parameter: 45
celling_parameter: 46
celling_parameter: 47
celling_parameter: 48
celling_parameter: 49
celling_parameter: 50
celling_parameter: 51
celling_parameter: 52
celling_parameter: 53
celling_parameter: 54
celling_parameter: 55
celling_parameter: 56
celling_parameter: 57
celling_parameter: 58
celling_parameter: 59
celling_parameter: 60
celling_parameter: 61
celling_parameter: 62
celling_parameter: 63
celling_parameter: 64
celling_parameter: 65
celling_parameter: 66
celling_parameter: 67

In [38]:
print(result_df)

         psy_code  top5_mean  total_mean  weighted_mean  \
0   P202507041AFF  17.200000   17.200000       3.293333
0   P202507046A44   8.400000    8.400000       2.120000
0   P202507070C5F   0.000000    0.000000       1.000000
0   P202507074212   5.000000    4.166667       1.600000
0   P202507075FAD   3.500000    3.500000       1.466667
..            ...        ...         ...            ...
0   P202508039384   0.333333    0.333333       1.019900
0   P20250806E7E9   0.000000    0.000000       1.000000
0   P2025080762D7   0.000000    0.000000       1.000000
0   P202508119E7D   3.800000    3.800000       1.226866
0   P2025081356D5   2.666667    2.666667       1.159204

                     reg_date  \
0  2025-09-08 10:35:52.951803
0  2025-09-08 10:35:52.958361
0  2025-09-08 10:35:52.961630
0  2025-09-08 10:35:52.969666
0  2025-09-08 10:35:52.975381
..                        ...
0  2025-09-08 10:36:12.177255
0  2025-09-08 10:36:12.180254
0  2025-09-08 10:36:12.183204
0  2025-09-08 10:36:12.190270
0  2025-09-08 10:36:12.195623

                                              purpose
0   "purpose=calibration;celling_parameter=30;auth...
0   "purpose=calibration;celling_parameter=30;auth...
0   "purpose=calibration;celling_parameter=30;auth...
0   "purpose=calibration;celling_parameter=30;auth...
0   "purpose=calibration;celling_parameter=30;auth...
..                                                ...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...

[1824 rows x 6 columns]

In [39]:
result_df.to_csv(f'aggression_norms_celling_parameter_search_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

# 평가마다 학생의 공격 지명 * 친구 지명

In [70]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    import pandas as pd
    if df['psy_code'].nunique() > 1 :
        raise ValueError('psy_code 컬럼에 여러 값이 존재합니다.')
    else :
        temp_df = df[df['question_no'].isin(item_no)] # 해당 문항 필터링
        count_list = []
        for student in student_list :
            if len(temp_df[temp_df['student_code']==student]) >= 1 :
                freq = len(temp_df[temp_df['student_code']==student])
            elif len(temp_df[temp_df['student_code']==student]) == 0 :
                freq = 0
            count_list.append(freq)
        count_point_df = pd.DataFrame({'student_code': student_list, 'num_point': count_list})
        return count_point_df, df['psy_code'].iloc[0]
    
# 학생 리스트 구하는 함수
def student_list(df) :
    student_list = df['target_code'].unique().tolist()
    return student_list, df['psy_code'].iloc[0]

In [71]:
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
745,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,4,AC000120255019FA1005
746,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,5,AC000120255019FA1009
747,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,5,AC000120255019FA1018
748,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,6,AC000120255019FA1001
749,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,7,AC000120255019FA1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",7,AC000120255019FA1008
936,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",7,AC000120255019FA1013
937,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1011
938,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1012
939,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1020

In [79]:
import pandas as pd

psy_code_grouped = df.groupby('psy_code')
result_df = pd.DataFrame()
for psy_code, group in psy_code_grouped :
    student_list_obj, psy_code = student_list(group)
    aggression_point_df, psy_code = count_point(group, student_list_obj, ['4','5','6','7'])
    n14_point_df, psy_code = count_point(group, student_list_obj, ['14'])
    merged_df = pd.merge(aggression_point_df, n14_point_df, on='student_code', suffixes=('_agg', '_14no'))
    merged_df['agg*14no_num_point'] = merged_df['num_point_agg'] * merged_df['num_point_14no']
    merged_df['psy_code'] = psy_code
    print(merged_df)
    result_df = pd.concat([result_df, merged_df])

              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000000120253017C9D005             10               2                  20
1  M1000000120253017C9D004             12               4                  48
2  M1000000120253017C9D003              5               3                  15
3  M1000000120253017C9D002              5               0                   0
4  M1000000120253017C9D001              3               1                   3

        psy_code
0  P202507041AFF
1  P202507041AFF
2  P202507041AFF
3  P202507041AFF
4  P202507041AFF
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000000120253017C9D005              7               2                  14
1  M1000000120253017C9D004              7               2                  14
2  M1000000120253017C9D003              7               2                  14
3  M1000000120253017C9D002              8               0                   0
4  M1000000120253017C9D001              5               0                   0

        psy_code
0  P202507046A44
1  P202507046A44
2  P202507046A44
3  P202507046A44
4  P202507046A44
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC037820254013BEF012              0               0                   0

        psy_code
0  P202507070C5F
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC037820254013BEF022              9               1                   9
1  AC037820254013BEF012              4               1                   4
2  AC037820254013BEF011              3               2                   6
3  AC037820254013BEF003              3               0                   0
4  AC037820254013BEF002              3               2                   6
5  AC037820254013BEF001              2               0                   0

        psy_code
0  P202507074212
1  P202507074212
2  P202507074212
3  P202507074212
4  P202507074212
5  P202507074212
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000000120253017C9D004              5               1                   5
1  M1000000120253017C9D003              4               2                   8
2  M1000000120253017C9D002              1               1                   1
3  M1000000120253017C9D001              3               0                   0

        psy_code
0  P202507075FAD
1  P202507075FAD
2  P202507075FAD
3  P202507075FAD
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000000120253017C9D007              9               2                  18
1  M1000000120253017C9D005              6               1                   6
2  M1000000120253017C9D002              1               0                   0
3  M1000000120253017C9D001              0               0                   0

        psy_code
0  P202507086502
1  P202507086502
2  P202507086502
3  P202507086502
            student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0   AC000120256016589025              9               4                  36
1   AC000120256016589024             12               2                  24
2   AC000120256016589023             19               5                  95
3   AC000120256016589022             10               6                  60
4   AC000120256016589021             10               2                  20
5   AC000120256016589020             13               3                  39
6   AC000120256016589019             10               3                  30
7   AC000120256016589018             12               1                  12
8   AC000120256016589017              9               1                   9
9   AC000120256016589016             15               5                  75
10  AC000120256016589015             11               3                  33
11  AC000120256016589014             14               4                  56
12  AC000120256016589013             12               3                  36
13  AC000120256016589012             10               5                  50
14  AC000120256016589011             10               1                  10
15  AC000120256016589010             17               3                  51
16  AC000120256016589009             12               3                  36
17  AC000120256016589008             16               4                  64
18  AC000120256016589007             11               1                  11
19  AC000120256016589006              8               0                   0
20  AC000120256016589005             12               3                  36
21  AC000120256016589004              8               7                  56
22  AC000120256016589003             10               2                  20
23  AC000120256016589002              9               4                  36
24  AC000120256016589001             10               1                  10

         psy_code
0   P20250708740B
1   P20250708740B
2   P20250708740B
3   P20250708740B
4   P20250708740B
5   P20250708740B
6   P20250708740B
7   P20250708740B
8   P20250708740B
9   P20250708740B
10  P20250708740B
11  P20250708740B
12  P20250708740B
13  P20250708740B
14  P20250708740B
15  P20250708740B
16  P20250708740B
17  P20250708740B
18  P20250708740B
19  P20250708740B
20  P20250708740B
21  P20250708740B
22  P20250708740B
23  P20250708740B
24  P20250708740B
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M100000212025401E799003              0               0                   0
1  M100000212025401E799002              4               2                   8
2  M100000212025401E799001              0               0                   0

        psy_code
0  P20250708B5F0
1  P20250708B5F0
2  P20250708B5F0
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC028020256033124005              3               1                   3
1  AC028020256033124002              2               1                   2

        psy_code
0  P2025070901E3
1  P2025070901E3
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC003320254028107005              3               2                   6
1  AC003320254028107004              2               1                   2
2  AC003320254028107003              1               2                   2
3  AC003320254028107002              2               1                   2
4  AC003320254028107001              1               1                   1

        psy_code
0  P202507093825
1  P202507093825
2  P202507093825
3  P202507093825
4  P202507093825
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000002320256030CF8004              0               0                   0

        psy_code
0  P20250709419F
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC028020254014067003              0               0                   0
1  AC028020254014067002              4               1                   4

        psy_code
0  P2025070959FC
1  P2025070959FC
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC0001202530101AF011              0               0                   0
1  AC0001202530101AF002              1               0                   0
2  AC0001202530101AF001              3               2                   6

        psy_code
0  P2025070965A7
1  P2025070965A7
2  P2025070965A7
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC0001202530101AF011              1               1                   1
1  AC0001202530101AF002              3               1                   3
2  AC0001202530101AF001              3               1                   3

        psy_code
0  P202507098064
1  P202507098064
2  P202507098064
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC030220254020EB9004              3               1                   3
1  AC030220254020EB9003              3               0                   0
2  AC030220254020EB9002              3               1                   3
3  AC030220254020EB9001              0               0                   0

        psy_code
0  P202507102E70
1  P202507102E70
2  P202507102E70
3  P202507102E70
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC030220254020EB9002              0               0                   0
1  AC030220254020EB9001              0               0                   0

        psy_code
0  P202507103119
1  P202507103119
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC0033202530170E8005              6               3                  18
1  AC0033202530170E8004              4               2                   8
2  AC0033202530170E8003              5               1                   5
3  AC0033202530170E8002              4               0                   0
4  AC0033202530170E8001              4               1                   4

        psy_code
0  P202507109373
1  P202507109373
2  P202507109373
3  P202507109373
4  P202507109373
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC030220254020EB9004              0               2                   0
1  AC030220254020EB9003              1               2                   2
2  AC030220254020EB9002              0               3                   0
3  AC030220254020EB9001              0               2                   0

        psy_code
0  P202507109627
1  P202507109627
2  P202507109627
3  P202507109627
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC030220253019473004              2               1                   2
1  AC030220253019473003              3               1                   3
2  AC030220253019473002              4               3                  12
3  AC030220253019473001              4               2                   8

        psy_code
0  P20250710DD9E
1  P20250710DD9E
2  P20250710DD9E
3  P20250710DD9E
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M100000402025402FE18001              0               0                   0

        psy_code
0  P20250710E2B5
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  AC03022025503A360004              4               1                   4
1  AC03022025503A360003              4               0                   0
2  AC03022025503A360002              4               2                   8
3  AC03022025503A360001              1               0                   0

        psy_code
0  P20250710E92D
1  P20250710E92D
2  P20250710E92D
3  P20250710E92D
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M100000592025601B53A006              8               1                   8
1  M100000592025601B53A005              9               1                   9
2  M100000592025601B53A004              7               2                  14
3  M100000592025601B53A003              6               2                  12
4  M100000592025601B53A002              4               2                   8
5  M100000592025601B53A001              4               1                   4

        psy_code
0  P2025071179A1
1  P2025071179A1
2  P2025071179A1
3  P2025071179A1
4  P2025071179A1
5  P2025071179A1
           student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  EC020820253011046004              4               0                   0
1  EC020820253011046002              1               1                   1
2  EC020820253011046001              1               0                   0

        psy_code
0  P20250711832F
1  P20250711832F
2  P20250711832F
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000005520256019C95003              2               1                   2
1  M1000005520256019C95002              4               1                   4
2  M1000005520256019C95001              1               0                   0

        psy_code
0  P202507118C5B
1  P202507118C5B
2  P202507118C5B
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000005520256019C95010             16               7                 112
1  M1000005520256019C95009             16               3                  48
2  M1000005520256019C95008             11               4                  44
3  M1000005520256019C95007              7               0                   0
4  M1000005520256019C95006              8               1                   8
5  M1000005520256019C95005              4               1                   4
6  M1000005520256019C95004              6               2                  12
7  M1000005520256019C95003             12               3                  36
8  M1000005520256019C95002              7               2                  14
9  M1000005520256019C95001              2               0                   0

        psy_code
0  P20250711FD39
1  P20250711FD39
2  P20250711FD39
3  P20250711FD39
4  P20250711FD39
5  P20250711FD39
6  P20250711FD39
7  P20250711FD39
8  P20250711FD39
9  P20250711FD39
               student_code  num_point_agg  num_point_14no  \
0   M1000006320255020B29024              1               5
1   M1000006320255020B29023             22              12
2   M1000006320255020B29022              1              13
3   M1000006320255020B29021              1               8
4   M1000006320255020B29020             10              11
5   M1000006320255020B29019              5               3
6   M1000006320255020B29018             15              10
7   M1000006320255020B29016             16              11
8   M1000006320255020B29015              0              10
9   M1000006320255020B29014              1              10
10  M1000006320255020B29013              2               9
11  M1000006320255020B29012              6               6
12  M1000006320255020B29011              0               8
13  M1000006320255020B29010              1               9
14  M1000006320255020B29009             11               7
15  M1000006320255020B29008              8               7
16  M1000006320255020B29007              4               9
17  M1000006320255020B29006              3               6
18  M1000006320255020B29005              1               9
19  M1000006320255020B29004             14              13
20  M1000006320255020B29003             20               8
21  M1000006320255020B29002              0               5
22  M1000006320255020B29001             23               1

    agg*14no_num_point       psy_code
0                    5  P202507154E91
1                  264  P202507154E91
2                   13  P202507154E91
3                    8  P202507154E91
4                  110  P202507154E91
5                   15  P202507154E91
6                  150  P202507154E91
7                  176  P202507154E91
8                    0  P202507154E91
9                   10  P202507154E91
10                  18  P202507154E91
11                  36  P202507154E91
12                   0  P202507154E91
13                   9  P202507154E91
14                  77  P202507154E91
15                  56  P202507154E91
16                  36  P202507154E91
17                  18  P202507154E91
18                   9  P202507154E91
19                 182  P202507154E91
20                 160  P202507154E91
21                   0  P202507154E91
22                  23  P202507154E91
              student_code  num_point_agg  num_point_14no  agg*14no_num_point  \
0  M1000000120253017C9D001              0               0                   0

        psy_code
0  P20250716280A
               student_code  num_point_agg  num_point_14no  \
0   M100000732025501D3CA023              0               5
1   M100000732025501D3CA022              4               6
2   M100000732025501D3CA021              2              12
3   M100000732025501D3CA020              0               5
4   M100000732025501D3CA019              2               6
5   M100000732025501D3CA018              0               8
6   M100000732025501D3CA017              3               7
7   M100000732025501D3CA016              0               6
8   M100000732025501D3CA015              0               9
9   M100000732025501D3CA014              2              11
10  M100000732025501D3CA013              0              10
11  M100000732025501D3CA012              0               7
12  M100000732025501D3CA011              7               9
13  M100000732025501D3CA010              0              12
14  M100000732025501D3CA009              0              10
15  M100000732025501D3CA008             23               4
16  M100000732025501D3CA007              0               7
17  M100000732025501D3CA006              1               5
18  M100000732025501D3CA005              2               7
19  M100000732025501D3CA004              0               1
20  M100000732025501D3CA003              5               5
21  M100000732025501D3CA002              0               2
22  M100000732025501D3CA001             19               1

    agg*14no_num_point       psy_code
0                    0  P202507169BCD
1                   24  P202507169BCD
2                   24  P202507169BCD
3                    0  P202507169BCD
4                   12  P202507169BCD
5                    0  P202507169BCD
6                   21  P202507169BCD
7                    0  P202507169BCD
8                    0  P202507169BCD
9                   22  P202507169BCD
10                   0  P202507169BCD
11                   0  P202507169BCD
12                  63  P202507169BCD
13                   0  P202507169BCD
14                   0  P202507169BCD
15                  92  P202507169BCD
16                   0  P202507169BCD
17                   5  P202507169BCD
18                  14  P202507169BCD
19                   0  P202507169BCD
20                  25  P202507169BCD
21                   0  P202507169BCD
22                  19  P202507169BCD
               student_code  num_point_agg  num_point_14no  \
0   M100000682025602CF1C025              1               7
1   M100000682025602CF1C024              1               4
2   M100000682025602CF1C023              0               8
3   M100000682025602CF1C022              1               7
4   M100000682025602CF1C021             23               2
5   M100000682025602CF1C020              1               3
6   M100000682025602CF1C019              3               9
7   M100000682025602CF1C018              3               6
8   M100000682025602CF1C017              1               9
9   M100000682025602CF1C016              1              11
10  M100000682025602CF1C015              1               7
11  M100000682025602CF1C014              0              10
12  M100000682025602CF1C013              0               5
13  M100000682025602CF1C012              2               7
14  M100000682025602CF1C011              0               6
15  M100000682025602CF1C010              9               5
16  M100000682025602CF1C009              9               0
17  M100000682025602CF1C008              1               5
18  M100000682025602CF1C007             27               5
19  M100000682025602CF1C006              0              11
20  M100000682025602CF1C005              1               9
21  M100000682025602CF1C004              0               7
22  M100000682025602CF1C003              0               8
23  M100000682025602CF1C002              2               5
24  M100000682025602CF1C001              1              11

    agg*14no_num_point       psy_code
0                    7  P20250716BB5E
1                    4  P20250716BB5E
2                    0  P20250716BB5E
3                    7  P20250716BB5E
4                   46  P20250716BB5E
5                    3  P20250716BB5E
6                   27  P20250716BB5E
7                   18  P20250716BB5E
8                    9  P20250716BB5E

In [81]:
print(result_df)

               student_code  num_point_agg  num_point_14no  \
0   M1000000120253017C9D005             10               2
1   M1000000120253017C9D004             12               4
2   M1000000120253017C9D003              5               3
3   M1000000120253017C9D002              5               0
4   M1000000120253017C9D001              3               1
..                      ...            ...             ...
3      AC0001202530101AF002              2               0
4      AC0001202530101AF001              1               0
0      DC00922025303B742003              2               2
1      DC00922025303B742002              4               0
2      DC00922025303B742001              4               1

    agg*14no_num_point       psy_code
0                   20  P202507041AFF
1                   48  P202507041AFF
2                   15  P202507041AFF
3                    0  P202507041AFF
4                    3  P202507041AFF
..                 ...            ...
3                    0  P202508119E7D
4                    0  P202508119E7D
0                    4  P2025081356D5
1                    0  P2025081356D5
2                    4  P2025081356D5

[443 rows x 5 columns]

In [82]:
# s3에 업로드
wr.s3.to_csv(result_df, f's3://schoolfriends-bym/result/aggression_point/aggression_point_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

{'paths': ['s3://schoolfriends-bym/result/aggression_point/aggression_point_20250908_133349.csv'],
 'partitions_values': {}}

In [83]:
# s3_folder_macro 소스에서 크롤러 생성해서 테이블화
# 특정 크롤러 생성 및 실행
import boto3
# s3 폴더 별로 크롤러 만들어서 아테네 테이블 만들때
glue = boto3.client("glue", region_name="ap-northeast-2")

# 공통 파라미터
role_name = 'arn:aws:iam::932744610695:role/service-role/AWSGlueServiceRole-Schoolfriends'
database_name = 'schoolfriends'
bucket_name = 'schoolfriends-bym'

crawler_name = "crawler_aggression_point"
s3_target_path = f"s3://schoolfriends-bym/result/aggression_point/"

try:
    response = glue.create_crawler(
        Name=crawler_name,
        Role=role_name,
        DatabaseName=database_name,
        Targets={'S3Targets': [{'Path': s3_target_path}]},
        SchemaChangePolicy={
            'UpdateBehavior': 'LOG',
            'DeleteBehavior': 'LOG'
        }
    )
    print(f"Crawler '{crawler_name}' created successfully.")
except glue.exceptions.AlreadyExistsException:
    print(f"Crawler '{crawler_name}' already exists.")
except Exception as e:
    print(f"Error creating crawler '{crawler_name}': {e}")

Crawler 'crawler_aggression_point' created successfully.

In [84]:
# 크롤러 동작
response = glue.start_crawler(Name=crawler_name)
print(f"Crawler '{crawler_name}' started successfully.")

Crawler 'crawler_aggression_point' started successfully.

# 친사회성 규범 점수

In [15]:
import awswrangler as wr
df = wr.athena.read_sql_query(
    """
    select a.school_code, a.school_name, b.school_grade, b.school_num, b.class_name, c.psy_name, c.psy_code, c.close_yn, f.student_num, d.target_code, e.user_testing_no, e.question_no, e.student_code 
    from school_info a
    inner join school_class b on a.school_code = b.school_code
    inner join psy_class c on b.class_code = c.class_code
    inner join psy_target d on c.class_code = d.class_code and c.psy_code = d.psy_code
    inner join at_user_testing_paper_pn e on d.user_testing_no = e.user_testing_no
    inner join school_student f on d.target_code = f.student_code and d.class_code = f.class_code
    where c.close_yn = 'Y' and e.question_no in ('8','9','14')
    """
    , database="schoolfriends"
)

In [16]:
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
0,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",8,AC000120256042D2E004
1,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",9,AC000120256042D2E013
2,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",9,AC000120256042D2E014
3,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",14,AC000120256042D2E001
4,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",14,AC000120256042D2E004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10129,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,8,TC046120256076567022
10130,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,9,TC046120256076567022
10131,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567012
10132,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567021
10133,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567022

In [17]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    import pandas as pd
    if df['psy_code'].nunique() > 1 :
        raise ValueError('psy_code 컬럼에 여러 값이 존재합니다.')
    else :
        temp_df = df[df['question_no'].isin(item_no)] # 해당 문항 필터링
        count_list = []
        for student in student_list :
            if len(temp_df[temp_df['student_code']==student]) >= 1 :
                freq = len(temp_df[temp_df['student_code']==student])
            elif len(temp_df[temp_df['student_code']==student]) == 0 :
                freq = 0
            count_list.append(freq)
        count_point_df = pd.DataFrame({'student_code': student_list, 'num_point': count_list})
        return count_point_df, df['psy_code'].iloc[0]

# 학생 리스트 구하는 함수
def student_list(df) :
    student_list = df['target_code'].unique().tolist()
    return student_list, df['psy_code'].iloc[0]

In [4]:
df = df[df['psy_name'].str.contains('이아린비활')]
print(df)

     school_code school_name school_grade school_num class_name  \
462       AC0001      학지초등학교          "5"        "1"    "5학년1반"
463       AC0001      학지초등학교          "5"        "1"    "5학년1반"
464       AC0001      학지초등학교          "5"        "1"    "5학년1반"
465       AC0001      학지초등학교          "5"        "1"    "5학년1반"
466       AC0001      학지초등학교          "5"        "1"    "5학년1반"
...          ...         ...          ...        ...        ...
5635      AC0001      학지초등학교          "5"        "1"    "5학년1반"
5636      AC0001      학지초등학교          "5"        "1"    "5학년1반"
5637      AC0001      학지초등학교          "5"        "1"    "5학년1반"
5638      AC0001      학지초등학교          "5"        "1"    "5학년1반"
5639      AC0001      학지초등학교          "5"        "1"    "5학년1반"

                psy_name       psy_code close_yn student_num  \
462   "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
463   "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
464   "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
465   "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
466   "25년 7월 2회차_이아린비활"  P202507183B0A        Y        "22"
...                  ...            ...      ...         ...
5635  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
5636  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
5637  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
5638  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"
5639  "25년 7월 2회차_이아린비활"  P202507183B0A        Y         "1"

               target_code         user_testing_no question_no  \
462   AC000120255019FA1022    a3f5848a0dc147df85c3           8
463   AC000120255019FA1022    a3f5848a0dc147df85c3           9
464   AC000120255019FA1022    a3f5848a0dc147df85c3           9
465   AC000120255019FA1022    a3f5848a0dc147df85c3          14
466   AC000120255019FA1022    a3f5848a0dc147df85c3          14
...                    ...                     ...         ...
5635  AC000120255019FA1001  "3844c42079ae46c9899a"           8
5636  AC000120255019FA1001  "3844c42079ae46c9899a"           9
5637  AC000120255019FA1001  "3844c42079ae46c9899a"          14
5638  AC000120255019FA1001  "3844c42079ae46c9899a"          14
5639  AC000120255019FA1001  "3844c42079ae46c9899a"          14

              student_code
462   AC000120255019FA1018
463   AC000120255019FA1009
464   AC000120255019FA1013
465   AC000120255019FA1002
466   AC000120255019FA1007
...                    ...
5635  AC000120255019FA1003
5636                    ""
5637  AC000120255019FA1011
5638  AC000120255019FA1012
5639  AC000120255019FA1020

[222 rows x 13 columns]

In [5]:
student_list_obj, psy_code = student_list(df)
print(student_list_obj, psy_code)
print(len(student_list_obj))

['AC000120255019FA1022', 'AC000120255019FA1021', 'AC000120255019FA1020', 'AC000120255019FA1019', 'AC000120255019FA1018', 'AC000120255019FA1017', 'AC000120255019FA1016', 'AC000120255019FA1014', 'AC000120255019FA1013', 'AC000120255019FA1012', 'AC000120255019FA1011', 'AC000120255019FA1010', 'AC000120255019FA1009', 'AC000120255019FA1008', 'AC000120255019FA1007', 'AC000120255019FA1006', 'AC000120255019FA1005', 'AC000120255019FA1004', 'AC000120255019FA1003', 'AC000120255019FA1002', 'AC000120255019FA1001'] P202507183B0A
21

In [6]:
prosociality_point_df, psy_code = count_point(df, student_list_obj, ['8','9'])
n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])
print(prosociality_point_df, psy_code)
print(n14_point_df, psy_code)

            student_code  num_point
0   AC000120255019FA1022          6
1   AC000120255019FA1021          0
2   AC000120255019FA1020          6
3   AC000120255019FA1019         14
4   AC000120255019FA1018          8
5   AC000120255019FA1017         10
6   AC000120255019FA1016          4
7   AC000120255019FA1014          2
8   AC000120255019FA1013          4
9   AC000120255019FA1012          0
10  AC000120255019FA1011          2
11  AC000120255019FA1010          0
12  AC000120255019FA1009          6
13  AC000120255019FA1008          6
14  AC000120255019FA1007          6
15  AC000120255019FA1006          4
16  AC000120255019FA1005          4
17  AC000120255019FA1004          6
18  AC000120255019FA1003         16
19  AC000120255019FA1002          6
20  AC000120255019FA1001          4 P202507183B0A
            student_code  num_point
0   AC000120255019FA1022          2
1   AC000120255019FA1021          2
2   AC000120255019FA1020          2
3   AC000120255019FA1019          0
4   AC000120255019FA1018          2
5   AC000120255019FA1017          6
6   AC000120255019FA1016          4
7   AC000120255019FA1014          6
8   AC000120255019FA1013          0
9   AC000120255019FA1012          6
10  AC000120255019FA1011          8
11  AC000120255019FA1010          4
12  AC000120255019FA1009          2
13  AC000120255019FA1008          6
14  AC000120255019FA1007          2
15  AC000120255019FA1006          0
16  AC000120255019FA1005          4
17  AC000120255019FA1004          4
18  AC000120255019FA1003          4
19  AC000120255019FA1002          4
20  AC000120255019FA1001          6 P202507183B0A

In [18]:
def prosociality_norms(df, celling_parameter=67) :
    import pandas as pd
    student_list_obj, psy_code = student_list(df)
    prosociality_point_df, psy_code = count_point(df, student_list_obj, ['8','9'])
    n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])

    prosociality_norms_df = pd.merge(prosociality_point_df, n14_point_df, on='student_code', suffixes=('_prosociality', '_14no'))
    prosociality_norms_df['prosociality*14no_num_point'] = prosociality_norms_df['num_point_prosociality'] * prosociality_norms_df['num_point_14no']
    prosociality_norms_df.sort_values(by='prosociality*14no_num_point', ascending=False, inplace=True)

    top5_prosociality_norms_df = prosociality_norms_df.head(5)
    top5_mean = top5_prosociality_norms_df['prosociality*14no_num_point'].mean()
    total_mean = prosociality_norms_df['prosociality*14no_num_point'].mean()
    weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
    weighted_mean = 4 * ((min(max(weighted_mean, 0), celling_parameter)-0)/celling_parameter)+1
    result_df = pd.DataFrame({'psy_code': [psy_code], 'top5_mean': [top5_mean], 'total_mean': [total_mean], 'weighted_mean': [weighted_mean]})
    result_df['reg_date'] = pd.Timestamp.now()
    result_df['purpose'] = f'"purpose=calibration;celling_parameter={celling_parameter};author=Yumin"'
    return result_df

In [19]:
result_df = prosociality_norms(df)
print(result_df)

ValueError: psy_code 컬럼에 여러 값이 존재합니다.

In [9]:
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
462,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,8,AC000120255019FA1018
463,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,9,AC000120255019FA1009
464,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,9,AC000120255019FA1013
465,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,14,AC000120255019FA1002
466,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""22""",AC000120255019FA1022,a3f5848a0dc147df85c3,14,AC000120255019FA1007
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5635,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",8,AC000120255019FA1003
5636,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",9,""""""
5637,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1011
5638,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1012
5639,AC0001,학지초등학교,"""5""","""1""","""5학년1반""","""25년 7월 2회차_이아린비활""",P202507183B0A,Y,"""1""",AC000120255019FA1001,"""3844c42079ae46c9899a""",14,AC000120255019FA1020

In [20]:
def search_celling_prosociality_norms(df, celling_parameter) :
    import pandas as pd
    student_list_obj, psy_code = student_list(df)
    prosociality_point_df, psy_code = count_point(df, student_list_obj, ['8','9'])
    n14_point_df, psy_code = count_point(df, student_list_obj, ['14'])

    prosociality_norms_df = pd.merge(prosociality_point_df, n14_point_df, on='student_code', suffixes=('_prosociality', '_14no'))
    prosociality_norms_df['prosociality*14no_num_point'] = prosociality_norms_df['num_point_prosociality'] * prosociality_norms_df['num_point_14no']
    prosociality_norms_df.sort_values(by='prosociality*14no_num_point', ascending=False, inplace=True)

    top5_prosociality_norms_df = prosociality_norms_df.head(5)
    top5_mean = top5_prosociality_norms_df['prosociality*14no_num_point'].mean()
    total_mean = prosociality_norms_df['prosociality*14no_num_point'].mean()
    weighted_mean = 0.4 * (top5_mean) + 0.6 * (total_mean)
    weighted_mean = 4 * ((min(max(weighted_mean, 0), celling_parameter)-0)/celling_parameter)+1
    result_df = pd.DataFrame({'psy_code': [psy_code], 'top5_mean': [top5_mean], 'total_mean': [total_mean], 'weighted_mean': [weighted_mean]})
    result_df['reg_date'] = pd.Timestamp.now()
    result_df['purpose'] = f'"purpose=calibration;celling_parameter={celling_parameter};author=Yumin"'
    return result_df

In [30]:
import pandas as pd

psy_code_grouped = df.groupby('psy_code')
result_df = pd.DataFrame()
for parameter in range(67, 250) :
    print(f'celling_parameter: {parameter}')
    for psy_code, group in psy_code_grouped :
        result_df = pd.concat([result_df, search_celling_prosociality_norms(group, celling_parameter=parameter)])

celling_parameter: 67
celling_parameter: 68
celling_parameter: 69
celling_parameter: 70
celling_parameter: 71
celling_parameter: 72
celling_parameter: 73
celling_parameter: 74
celling_parameter: 75
celling_parameter: 76
celling_parameter: 77
celling_parameter: 78
celling_parameter: 79
celling_parameter: 80
celling_parameter: 81
celling_parameter: 82
celling_parameter: 83
celling_parameter: 84
celling_parameter: 85
celling_parameter: 86
celling_parameter: 87
celling_parameter: 88
celling_parameter: 89
celling_parameter: 90
celling_parameter: 91
celling_parameter: 92
celling_parameter: 93
celling_parameter: 94
celling_parameter: 95
celling_parameter: 96
celling_parameter: 97
celling_parameter: 98
celling_parameter: 99
celling_parameter: 100
celling_parameter: 101
celling_parameter: 102
celling_parameter: 103
celling_parameter: 104
celling_parameter: 105
celling_parameter: 106
celling_parameter: 107
celling_parameter: 108
celling_parameter: 109
celling_parameter: 110
celling_parameter: 111
celling_parameter: 112
celling_parameter: 113
celling_parameter: 114
celling_parameter: 115
celling_parameter: 116
celling_parameter: 117
celling_parameter: 118
celling_parameter: 119
celling_parameter: 120
celling_parameter: 121
celling_parameter: 122
celling_parameter: 123
celling_parameter: 124
celling_parameter: 125
celling_parameter: 126
celling_parameter: 127
celling_parameter: 128
celling_parameter: 129
celling_parameter: 130
celling_parameter: 131
celling_parameter: 132
celling_parameter: 133
celling_parameter: 134
celling_parameter: 135
celling_parameter: 136
celling_parameter: 137
celling_parameter: 138
celling_parameter: 139
celling_parameter: 140
celling_parameter: 141
celling_parameter: 142
celling_parameter: 143
celling_parameter: 144
celling_parameter: 145
celling_parameter: 146
celling_parameter: 147
celling_parameter: 148
celling_parameter: 149
celling_parameter: 150
celling_parameter: 151
celling_parameter: 152
celling_parameter: 153
celling_parameter: 154
celling_parameter: 155
celling_parameter: 156
celling_parameter: 157
celling_parameter: 158
celling_parameter: 159
celling_parameter: 160
celling_parameter: 161
celling_parameter: 162
celling_parameter: 163
celling_parameter: 164
celling_parameter: 165
celling_parameter: 166
celling_parameter: 167
celling_parameter: 168
celling_parameter: 169
celling_parameter: 170
celling_parameter: 171
celling_parameter: 172
celling_parameter: 173
celling_parameter: 174
celling_parameter: 175
celling_parameter: 176
celling_parameter: 177
celling_parameter: 178
celling_parameter: 179
celling_parameter: 180
celling_parameter: 181
celling_parameter: 182
celling_parameter: 183
celling_parameter: 184
celling_parameter: 185
celling_parameter: 186
celling_parameter: 187
celling_parameter: 188
celling_parameter: 189
celling_parameter: 190
celling_parameter: 191
celling_parameter: 192
celling_parameter: 193
celling_parameter: 194
celling_parameter: 195
celling_parameter: 196
celling_parameter: 197
celling_parameter: 198
celling_parameter: 199
celling_parameter: 200
celling_parameter: 201
celling_parameter: 202
celling_parameter: 203
celling_parameter: 204
celling_parameter: 205
celling_parameter: 206
celling_parameter: 207
celling_parameter: 208
celling_parameter: 209
celling_parameter: 210
celling_parameter: 211
celling_parameter: 212
celling_parameter: 213
celling_parameter: 214
celling_parameter: 215
celling_parameter: 216
celling_parameter: 217
celling_parameter: 218
celling_parameter: 219
celling_parameter: 220
celling_parameter: 221
celling_parameter: 222
celling_parameter: 223
celling_parameter: 224
celling_parameter: 225
celling_parameter: 226
celling_parameter: 227
celling_parameter: 228
celling_parameter: 229
celling_parameter: 230
celling_parameter: 231
celling_parameter: 232
celling_parameter: 233
celling_parameter: 234
celling_parameter: 235
celling_parameter: 236
celling_parameter: 237
celling_parameter: 238
celling_parameter: 239
celling_parameter: 240
celling_parameter: 241
celling_parameter: 242
celling_parameter: 243
celling_parameter: 244
celling_parameter: 245
celling_parameter: 246
celling_parameter: 247
celling_parameter: 248
celling_parameter: 249

In [31]:
print(result_df)

         psy_code  top5_mean  total_mean  weighted_mean  \
0   P202507041AFF  35.200000   35.200000       3.101493
0   P202507046A44  14.400000   14.400000       1.859701
0   P202507070C5F   0.000000    0.000000       1.000000
0   P202507074212  11.200000    9.333333       1.601791
0   P202507075FAD  10.000000   10.000000       1.597015
..            ...        ...         ...            ...
0   P202508039384   0.000000    0.000000       1.000000
0   P20250806E7E9   0.000000    0.000000       1.000000
0   P2025080762D7   0.000000    0.000000       1.000000
0   P202508119E7D  10.400000   10.400000       1.167068
0   P2025081356D5  13.333333   13.333333       1.214190

                     reg_date  \
0  2025-09-22 16:38:51.605498
0  2025-09-22 16:38:51.611984
0  2025-09-22 16:38:51.615094
0  2025-09-22 16:38:51.622896
0  2025-09-22 16:38:51.630284
..                        ...
0  2025-09-22 16:40:26.899737
0  2025-09-22 16:40:26.902894
0  2025-09-22 16:40:26.905799
0  2025-09-22 16:40:26.913571
0  2025-09-22 16:40:26.918607

                                              purpose
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
0   "purpose=calibration;celling_parameter=67;auth...
..                                                ...
0   "purpose=calibration;celling_parameter=249;aut...
0   "purpose=calibration;celling_parameter=249;aut...
0   "purpose=calibration;celling_parameter=249;aut...
0   "purpose=calibration;celling_parameter=249;aut...
0   "purpose=calibration;celling_parameter=249;aut...

[8784 rows x 6 columns]

In [32]:
result_df.to_csv(f'prosociality_norms_celling_parameter_search_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

In [33]:
# 결과를 S3에 저장
wr.s3.to_csv(result_df, f's3://schoolfriends-bym/result/prosociality_norms/prosociality_norms_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

{'paths': ['s3://schoolfriends-bym/result/prosociality_norms/prosociality_norms_20250922_164120.csv'],
 'partitions_values': {}}

In [25]:
# 친사회성 지명 데이터 산출
df

,school_code,school_name,school_grade,school_num,class_name,psy_name,psy_code,close_yn,student_num,target_code,user_testing_no,question_no,student_code
0,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",8,AC000120256042D2E004
1,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",9,AC000120256042D2E013
2,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",9,AC000120256042D2E014
3,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",14,AC000120256042D2E001
4,AC0001,학지초등학교,"""6""","""4""",우리 또래 반,"""25년 7월 1회차""",P20250716BE86,Y,"""20""",AC000120256042D2E020,"""557b6318ba464b62be79""",14,AC000120256042D2E004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5062,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,8,TC046120256076567022
5063,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,9,TC046120256076567022
5064,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567012
5065,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567021
5066,TC0461,목포부주초등학교,"""6""","""7""","""6학년7반""","""25년 7월 1회차""",P20250722BAB6,Y,"""1""",TC046120256076567001,eeaf384f0e31454cb6d0,14,TC046120256076567022

In [25]:
# 지명수 구하는 함수
def count_point(df, student_list, item_no) :
    import pandas as pd
    if df['psy_code'].nunique() > 1 :
        raise ValueError('psy_code 컬럼에 여러 값이 존재합니다.')
    else :
        temp_df = df[df['question_no'].isin(item_no)] # 해당 문항 필터링
        count_list = []
        for student in student_list :
            if len(temp_df[temp_df['student_code']==student]) >= 1 :
                freq = len(temp_df[temp_df['student_code']==student])
            elif len(temp_df[temp_df['student_code']==student]) == 0 :
                freq = 0
            count_list.append(freq)
        count_point_df = pd.DataFrame({'student_code': student_list, 'num_point': count_list})
        return count_point_df, df['psy_code'].iloc[0]
    
# 학생 리스트 구하는 함수
def student_list(df) :
    student_list = df['target_code'].unique().tolist()
    return student_list, df['psy_code'].iloc[0]

In [26]:
import pandas as pd

psy_code_grouped = df.groupby('psy_code')
result_df = pd.DataFrame()
for psy_code, group in psy_code_grouped :
    student_list_obj, psy_code = student_list(group)
    prosociality_point_df, psy_code = count_point(group, student_list_obj, ['8','9'])
    n14_point_df, psy_code = count_point(group, student_list_obj, ['14'])
    merged_df = pd.merge(prosociality_point_df, n14_point_df, on='student_code', suffixes=('_prosociality', '_14no'))
    merged_df['prosociality*14no_num_point'] = merged_df['num_point_prosociality'] * merged_df['num_point_14no']
    merged_df['psy_code'] = psy_code
    print(merged_df)
    result_df = pd.concat([result_df, merged_df])

              student_code  num_point_prosociality  num_point_14no  \
0  M1000000120253017C9D005                       8               4
1  M1000000120253017C9D004                      10               8
2  M1000000120253017C9D003                      10               6
3  M1000000120253017C9D002                       2               0
4  M1000000120253017C9D001                       2               2

   prosociality*14no_num_point       psy_code
0                           32  P202507041AFF
1                           80  P202507041AFF
2                           60  P202507041AFF
3                            0  P202507041AFF
4                            4  P202507041AFF
              student_code  num_point_prosociality  num_point_14no  \
0  M1000000120253017C9D005                       4               4
1  M1000000120253017C9D004                      10               4
2  M1000000120253017C9D003                       4               4
3  M1000000120253017C9D002                       4               0
4  M1000000120253017C9D001                       0               0

   prosociality*14no_num_point       psy_code
0                           16  P202507046A44
1                           40  P202507046A44
2                           16  P202507046A44
3                            0  P202507046A44
4                            0  P202507046A44
           student_code  num_point_prosociality  num_point_14no  \
0  AC037820254013BEF012                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P202507070C5F
           student_code  num_point_prosociality  num_point_14no  \
0  AC037820254013BEF022                      10               2
1  AC037820254013BEF012                       6               2
2  AC037820254013BEF011                       4               4
3  AC037820254013BEF003                       0               0
4  AC037820254013BEF002                       2               4
5  AC037820254013BEF001                       2               0

   prosociality*14no_num_point       psy_code
0                           20  P202507074212
1                           12  P202507074212
2                           16  P202507074212
3                            0  P202507074212
4                            8  P202507074212
5                            0  P202507074212
              student_code  num_point_prosociality  num_point_14no  \
0  M1000000120253017C9D004                       6               2
1  M1000000120253017C9D003                       6               4
2  M1000000120253017C9D002                       2               2
3  M1000000120253017C9D001                       2               0

   prosociality*14no_num_point       psy_code
0                           12  P202507075FAD
1                           24  P202507075FAD
2                            4  P202507075FAD
3                            0  P202507075FAD
              student_code  num_point_prosociality  num_point_14no  \
0  M1000000120253017C9D007                      10               4
1  M1000000120253017C9D005                       6               2
2  M1000000120253017C9D002                       0               0
3  M1000000120253017C9D001                       0               0

   prosociality*14no_num_point       psy_code
0                           40  P202507086502
1                           12  P202507086502
2                            0  P202507086502
3                            0  P202507086502
            student_code  num_point_prosociality  num_point_14no  \
0   AC000120256016589025                      10               8
1   AC000120256016589024                      18               4
2   AC000120256016589023                      16              10
3   AC000120256016589022                       6              12
4   AC000120256016589021                      16               4
5   AC000120256016589020                      12               6
6   AC000120256016589019                      10               6
7   AC000120256016589018                       8               2
8   AC000120256016589017                      18               2
9   AC000120256016589016                      16              10
10  AC000120256016589015                      10               6
11  AC000120256016589014                      18               8
12  AC000120256016589013                       6               6
13  AC000120256016589012                      20              10
14  AC000120256016589011                       4               2
15  AC000120256016589010                      20               6
16  AC000120256016589009                      12               6
17  AC000120256016589008                      18               8
18  AC000120256016589007                      18               2
19  AC000120256016589006                       8               0
20  AC000120256016589005                       4               6
21  AC000120256016589004                      14              14
22  AC000120256016589003                      16               4
23  AC000120256016589002                       8               8
24  AC000120256016589001                      20               2

    prosociality*14no_num_point       psy_code
0                            80  P20250708740B
1                            72  P20250708740B
2                           160  P20250708740B
3                            72  P20250708740B
4                            64  P20250708740B
5                            72  P20250708740B
6                            60  P20250708740B
7                            16  P20250708740B
8                            36  P20250708740B
9                           160  P20250708740B
10                           60  P20250708740B
11                          144  P20250708740B
12                           36  P20250708740B
13                          200  P20250708740B
14                            8  P20250708740B
15                          120  P20250708740B
16                           72  P20250708740B
17                          144  P20250708740B
18                           36  P20250708740B
19                            0  P20250708740B
20                           24  P20250708740B
21                          196  P20250708740B
22                           64  P20250708740B
23                           64  P20250708740B
24                           40  P20250708740B
              student_code  num_point_prosociality  num_point_14no  \
0  M100000212025401E799003                       2               0
1  M100000212025401E799002                       6               4
2  M100000212025401E799001                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P20250708B5F0
1                           24  P20250708B5F0
2                            0  P20250708B5F0
           student_code  num_point_prosociality  num_point_14no  \
0  AC028020256033124005                       2               2
1  AC028020256033124002                       2               2

   prosociality*14no_num_point       psy_code
0                            4  P2025070901E3
1                            4  P2025070901E3
           student_code  num_point_prosociality  num_point_14no  \
0  AC003320254028107005                       4               4
1  AC003320254028107004                       8               2
2  AC003320254028107003                       4               4
3  AC003320254028107002                       6               2
4  AC003320254028107001                       4               2

   prosociality*14no_num_point       psy_code
0                           16  P202507093825
1                           16  P202507093825
2                           16  P202507093825
3                           12  P202507093825
4                            8  P202507093825
              student_code  num_point_prosociality  num_point_14no  \
0  M1000002320256030CF8004                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P20250709419F
           student_code  num_point_prosociality  num_point_14no  \
0  AC028020254014067003                       0               0
1  AC028020254014067002                       4               2

   prosociality*14no_num_point       psy_code
0                            0  P2025070959FC
1                            8  P2025070959FC
           student_code  num_point_prosociality  num_point_14no  \
0  AC0001202530101AF011                       0               0
1  AC0001202530101AF002                       2               0
2  AC0001202530101AF001                       6               4

   prosociality*14no_num_point       psy_code
0                            0  P2025070965A7
1                            0  P2025070965A7
2                           24  P2025070965A7
           student_code  num_point_prosociality  num_point_14no  \
0  AC0001202530101AF011                       2               2
1  AC0001202530101AF002                       2               2
2  AC0001202530101AF001                       4               2

   prosociality*14no_num_point       psy_code
0                            4  P202507098064
1                            4  P202507098064
2                            8  P202507098064
           student_code  num_point_prosociality  num_point_14no  \
0  AC030220254020EB9004                       2               2
1  AC030220254020EB9003                       0               0
2  AC030220254020EB9002                       4               2
3  AC030220254020EB9001                       6               0

   prosociality*14no_num_point       psy_code
0                            4  P202507102E70
1                            0  P202507102E70
2                            8  P202507102E70
3                            0  P202507102E70
           student_code  num_point_prosociality  num_point_14no  \
0  AC030220254020EB9002                       0               0
1  AC030220254020EB9001                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P202507103119
1                            0  P202507103119
           student_code  num_point_prosociality  num_point_14no  \
0  AC0033202530170E8005                       4               6
1  AC0033202530170E8004                       8               4
2  AC0033202530170E8003                       4               2
3  AC0033202530170E8002                       6               0
4  AC0033202530170E8001                       4               2

   prosociality*14no_num_point       psy_code
0                           24  P202507109373
1                           32  P202507109373
2                            8  P202507109373
3                            0  P202507109373
4                            8  P202507109373
           student_code  num_point_prosociality  num_point_14no  \
0  AC030220254020EB9004                       8               4
1  AC030220254020EB9003                       8               4
2  AC030220254020EB9002                      12               6
3  AC030220254020EB9001                       8               4

   prosociality*14no_num_point       psy_code
0                           32  P202507109627
1                           32  P202507109627
2                           72  P202507109627
3                           32  P202507109627
           student_code  num_point_prosociality  num_point_14no  \
0  AC030220253019473004                       8               2
1  AC030220253019473003                       8               2
2  AC030220253019473002                       6               6
3  AC030220253019473001                       4               4

   prosociality*14no_num_point       psy_code
0                           16  P20250710DD9E
1                           16  P20250710DD9E
2                           36  P20250710DD9E
3                           16  P20250710DD9E
              student_code  num_point_prosociality  num_point_14no  \
0  M100000402025402FE18001                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P20250710E2B5
           student_code  num_point_prosociality  num_point_14no  \
0  AC03022025503A360004                       2               2
1  AC03022025503A360003                       2               0
2  AC03022025503A360002                       4               4
3  AC03022025503A360001                       4               0

   prosociality*14no_num_point       psy_code
0                            4  P20250710E92D
1                            0  P20250710E92D
2                           16  P20250710E92D
3                            0  P20250710E92D
              student_code  num_point_prosociality  num_point_14no  \
0  M100000592025601B53A006                       8               2
1  M100000592025601B53A005                      10               2
2  M100000592025601B53A004                       6               4
3  M100000592025601B53A003                       6               4
4  M100000592025601B53A002                       4               4
5  M100000592025601B53A001                       8               2

   prosociality*14no_num_point       psy_code
0                           16  P2025071179A1
1                           20  P2025071179A1
2                           24  P2025071179A1
3                           24  P2025071179A1
4                           16  P2025071179A1
5                           16  P2025071179A1
           student_code  num_point_prosociality  num_point_14no  \
0  EC020820253011046004                       0               0
1  EC020820253011046002                       2               2
2  EC020820253011046001                       2               0

   prosociality*14no_num_point       psy_code
0                            0  P20250711832F
1                            4  P20250711832F
2                            0  P20250711832F
              student_code  num_point_prosociality  num_point_14no  \
0  M1000005520256019C95003                       2               2
1  M1000005520256019C95002                       2               2
2  M1000005520256019C95001                       4               0

   prosociality*14no_num_point       psy_code
0                            4  P202507118C5B
1                            4  P202507118C5B
2                            0  P202507118C5B
              student_code  num_point_prosociality  num_point_14no  \
0  M1000005520256019C95010                      12              14
1  M1000005520256019C95009                       6               6
2  M1000005520256019C95008                      14               8
3  M1000005520256019C95007                       8               0
4  M1000005520256019C95006                      10               2
5  M1000005520256019C95005                      16               2
6  M1000005520256019C95004                      10               4
7  M1000005520256019C95003                       8               6
8  M1000005520256019C95002                       8               4
9  M1000005520256019C95001                       4               0

   prosociality*14no_num_point       psy_code
0                          168  P20250711FD39
1                           36  P20250711FD39
2                          112  P20250711FD39
3                            0  P20250711FD39
4                           20  P20250711FD39
5                           32  P20250711FD39
6                           40  P20250711FD39
7                           48  P20250711FD39
8                           32  P20250711FD39
9                            0  P20250711FD39
               student_code  num_point_prosociality  num_point_14no  \
0   M1000006320255020B29024                      26              10
1   M1000006320255020B29023                      38              24
2   M1000006320255020B29022                      44              26
3   M1000006320255020B29021                      32              16
4   M1000006320255020B29020                      30              22
5   M1000006320255020B29019                      16               6
6   M1000006320255020B29018                      28              20
7   M1000006320255020B29016                      36              22
8   M1000006320255020B29015                      28              20
9   M1000006320255020B29014                      40              20
10  M1000006320255020B29013                      26              18
11  M1000006320255020B29012                      20              12
12  M1000006320255020B29011                      32              16
13  M1000006320255020B29010                      36              18
14  M1000006320255020B29009                      24              14
15  M1000006320255020B29008                      20              14
16  M1000006320255020B29007                      38              18
17  M1000006320255020B29006                      28              12
18  M1000006320255020B29005                      34              18
19  M1000006320255020B29004                      26              26
20  M1000006320255020B29003                      28              16
21  M1000006320255020B29002                      58              10
22  M1000006320255020B29001                       6               2

    prosociality*14no_num_point       psy_code
0                           260  P202507154E91
1                           912  P202507154E91
2                          1144  P202507154E91
3                           512  P202507154E91
4                           660  P202507154E91
5                            96  P202507154E91
6                           560  P202507154E91
7                           792  P202507154E91
8                           560  P202507154E91
9                           800  P202507154E91
10                          468  P202507154E91
11                          240  P202507154E91
12                          512  P202507154E91
13                          648  P202507154E91
14                          336  P202507154E91
15                          280  P202507154E91
16                          684  P202507154E91
17                          336  P202507154E91
18                          612  P202507154E91
19                          676  P202507154E91
20                          448  P202507154E91
21                          580  P202507154E91
22                           12  P202507154E91
              student_code  num_point_prosociality  num_point_14no  \
0  M1000000120253017C9D001                       0               0

   prosociality*14no_num_point       psy_code
0                            0  P20250716280A
               student_code  num_point_prosociality  num_point_14no  \
0   M100000732025501D3CA023                      22              10
1   M100000732025501D3CA022                       6              12
2   M100000732025501D3CA021                      48              24
3   M100000732025501D3CA020                      28              10
4   M100000732025501D3CA019                      20              12
5   M100000732025501D3CA018                      28              16
6   M100000732025501D3CA017                      18              14
7   M100000732025501D3CA016                      28              12
8   M100000732025501D3CA015                      26              18
9   M100000732025501D3CA014                      12              22
10  M100000732025501D3CA013                      28              20
11  M100000732025501D3CA012                      36              14
12  M100000732025501D3CA011                      22              18
13  M100000732025501D3CA010                      44              24
14  M100000732025501D3CA009                      24              20
15  M100000732025501D3CA008                       4               8
16  M100000732025501D3CA007                      26              14
17  M100000732025501D3CA006                      20              10

In [27]:
print(result_df)

               student_code  num_point_prosociality  num_point_14no  \
0   M1000000120253017C9D005                       8               4
1   M1000000120253017C9D004                      10               8
2   M1000000120253017C9D003                      10               6
3   M1000000120253017C9D002                       2               0
4   M1000000120253017C9D001                       2               2
..                      ...                     ...             ...
3      AC0001202530101AF002                       4               0
4      AC0001202530101AF001                       6               0
0      DC00922025303B742003                       8               4
1      DC00922025303B742002                       0               0
2      DC00922025303B742001                       4               2

    prosociality*14no_num_point       psy_code
0                            32  P202507041AFF
1                            80  P202507041AFF
2                            60  P202507041AFF
3                             0  P202507041AFF
4                             4  P202507041AFF
..                          ...            ...
3                             0  P202508119E7D
4                             0  P202508119E7D
0                            32  P2025081356D5
1                             0  P2025081356D5
2                             8  P2025081356D5

[443 rows x 5 columns]

In [28]:
# s3에 업로드
wr.s3.to_csv(result_df, f's3://schoolfriends-bym/result/prosociality_point/prosociality_point_{pd.Timestamp.now().strftime("%Y%m%d_%H%M%S")}.csv', index=False)

{'paths': ['s3://schoolfriends-bym/result/prosociality_point/prosociality_point_20250922_161908.csv'],
 'partitions_values': {}}

In [32]:
# s3_folder_macro 소스에서 크롤러 생성해서 테이블화
# 특정 크롤러 생성 및 실행
import boto3
# s3 폴더 별로 크롤러 만들어서 아테네 테이블 만들때
glue = boto3.client("glue", region_name="ap-northeast-2")

# 공통 파라미터
role_name = 'arn:aws:iam::932744610695:role/service-role/AWSGlueServiceRole-Schoolfriends'
database_name = 'schoolfriends'
bucket_name = 'schoolfriends-bym'

crawler_name = "crawler_prosociality_norms"
s3_target_path = f"s3://schoolfriends-bym/result/prosociality_norms/"

try:
    response = glue.create_crawler(
        Name=crawler_name,
        Role=role_name,
        DatabaseName=database_name,
        Targets={'S3Targets': [{'Path': s3_target_path}]},
        SchemaChangePolicy={
            'UpdateBehavior': 'LOG',
            'DeleteBehavior': 'LOG'
        }
    )
    print(f"Crawler '{crawler_name}' created successfully.")
except glue.exceptions.AlreadyExistsException:
    print(f"Crawler '{crawler_name}' already exists.")
except Exception as e:
    print(f"Error creating crawler '{crawler_name}': {e}")

Crawler 'crawler_prosociality_norms' created successfully.

In [29]:
# 크롤러 동작
response = glue.start_crawler(Name=crawler_name)
print(f"Crawler '{crawler_name}' started successfully.")

NameError: name 'glue' is not defined